.homepage-content {
    .topboard {
        background-color: $purple-dark;
        text-align: center;
        .icon {
            font-size: 58;
            margin: 25 auto 10;
            color: #ffffff;
        }
        .name {
            font-size: 24;
            color: #ffffff;
            text-transform: capitalize;
        }
        .mail {
            font-size: 15;
            color: #dfdfdf;
            margin-bottom: 25;
        }
    }
    .bottom-grid {
        padding: 0 0;
        .stack-box {
            padding: 0 0;
            margin: 0 0;
            box-sizing: border-box;
        }
        .flex-box {
            background-color: rgba($purple-dark, .7);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
            border-radius: 4;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 10 0;
            padding: 20 0;
            box-sizing: border-box;
            .item-name {
                font-size: 16;
                color: $white;
                text-transform: capitalize;
            }
            .image {
                width: 60;
                margin: 10 auto;
                text-align: center;
            }
        }
    }
}