<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<GridLayout class="homepage-content" rows="auto,*">
    <StackLayout width="100%" row="0" class="topboard" verticalAlignment="top">
        <GridLayout rows="auto,auto,auto" horizontalAlignment="center" verticalAlignment="center">
            <Label class="icon fa" text="" horizontalAlignment="center" row="0"></Label>
            <!-- <Image row="0" class="image" horizontalAlignment="center" src="~/assets/images/profile.png" stretch="none"></Image> -->
            <Label class="name" text="souptik sarkar" row="1"></Label>
            <Label class="mail" text="souptik.wgt@gmail.com" row="2"></Label>
        </GridLayout>
    </StackLayout>
    <StackLayout row="1" width="100%">
        <ScrollView scrollBarIndicatorVisible="false">
            <GridLayout columns="auto,auto" horizontalAlignment="center" verticalAlignment="center" rows="auto,auto,*" width="100%" class="bottom-grid">
                <StackLayout horizontalAlignment="center" row="0" col="0" width="50%" height="auto" class="stack-box">
                    <FlexboxLayout flexDirection="column" elevation="40" width="90%" height="auto" orientation="vertical" class="flex-box" (tap)="onItemTap('/Listing')">
                        <Image class="image" horizontalAlignment="center" verticalAlignment="center" src="~/assets/images/apple-tv.png" stretch="aspectFit"></Image>
                        <Label text="item 1" horizontalAlignment="center" verticalAlignment="bottom" class="item-name"></Label>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout horizontalAlignment="center" row="0" col="1" width="50%" height="auto" class="stack-box">
                    <FlexboxLayout flexDirection="column" elevation="40" width="90%" height="auto" orientation="vertical" class="flex-box">
                        <Image class="image" horizontalAlignment="center" verticalAlignment="center" src="~/assets/images/apple-tv.png" stretch="aspectFit"></Image>
                        <Label text="item 2" horizontalAlignment="center" verticalAlignment="bottom" class="item-name"></Label>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout horizontalAlignment="center" row="1" col="0" width="50%" height="auto" class="stack-box">
                    <FlexboxLayout flexDirection="column" width="90%" height="auto" orientation="vertical" class="flex-box">
                        <Image class="image" horizontalAlignment="center" verticalAlignment="center" src="~/assets/images/apple-tv.png" stretch="aspectFit"></Image>
                        <Label text="item 4" horizontalAlignment="center" verticalAlignment="bottom" class="item-name"></Label>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout horizontalAlignment="center" row="1" col="1" width="50%" height="auto" class="stack-box">
                    <FlexboxLayout flexDirection="column" width="90%" height="auto" orientation="vertical" class="flex-box">
                        <Image class="image" horizontalAlignment="center" verticalAlignment="center" src="~/assets/images/apple-tv.png" stretch="aspectFit"></Image>
                        <Label text="item 4" horizontalAlignment="center" verticalAlignment="bottom" class="item-name"></Label>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout horizontalAlignment="center" row="2" col="0" width="50%" height="auto" class="stack-box">
                    <FlexboxLayout flexDirection="column" width="90%" height="auto" orientation="vertical" class="flex-box">
                        <Image class="image" horizontalAlignment="center" verticalAlignment="center" src="~/assets/images/apple-tv.png" stretch="aspectFit"></Image>
                        <Label text="item 4" horizontalAlignment="center" verticalAlignment="bottom" class="item-name"></Label>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout horizontalAlignment="center" row="2" col="1" width="50%" height="auto" class="stack-box">
                    <FlexboxLayout flexDirection="column" width="90%" height="auto" orientation="vertical" class="flex-box">
                        <Image class="image" horizontalAlignment="center" verticalAlignment="center" src="~/assets/images/apple-tv.png" stretch="aspectFit"></Image>
                        <Label text="item 4" horizontalAlignment="center" verticalAlignment="bottom" class="item-name"></Label>
                    </FlexboxLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>