<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Featured"></Label>
</ActionBar>

<GridLayout class="page page-content" tkMainContent rows="auto,auto,*">
    <StackLayout row="0">
        <Label class="page-icon fa" text="&#xf015;"></Label>
        <Label class="page-placeholder" text="welcome to my app"></Label>
    </StackLayout>
    <StackLayout row="1" class="input-field">
        <Label text="Enter text:" class="label"></Label>
        <TextView text=" tvText" hint="tvHint" editable="true" class="input input-border"></TextView>
    </StackLayout>

    <StackLayout row="2">
        <StackLayout class="nav">
            <Button text="search" (tap)="onNavItemTap('/search')"></Button>
            <Button text="map" (tap)="onNavItemTap('/mappage')"></Button>
            <Button text="browse" (tap)="onNavItemTap('/browse')"></Button>
            <Button text="listing" (tap)="onNavItemTap('/Listing')"></Button>
        </StackLayout>
    </StackLayout>

</GridLayout>